* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue; 
    color: white;
    position: absolute;
    transition: 2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.remove-loader {
    transform: translateY(-100%);
}

.loader h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.loaded {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
} 


.tittle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7rem;
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(8px);
    transition: transform 1s, opacity 1s;
    transition-delay: 1s;
    color: blue; 
}

.appear-tittle {
    opacity: 1;
    transform: translateY( 0 );
}

#cursor {
    position: absolute;
    background-color: rgba(255, 74, 29, 0.850);
    width: 48px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: darken;
}