
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

body{ 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #1e1e1e;
} 
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.stack { 
    display: flex; 
    position: relative;
    flex-direction: column; 
    align-items: right; 
    justify-content: start;
    width: 100%; 
    height: 300vh;
    
}

h1 { 
    color: white; 
    font-size: 4rem; 
    padding: 3rem 0 0 0 ;
} 

p { 
    color: #ccc; 
    font-size: 1.5rem; 
    justify-self: center;
} 

.box { 
    position: sticky;
    top: 0;
    background-color: #ec5732;
    border-radius: 10px; 
    width: 100%;
    max-width: 100vw;
    aspect-ratio: 16/9;
    display: flex; 
    flex-direction: column;

}
.space {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff0a;
}
.clonWrapper {
    display: flex;
    overflow: visible; /* Asegura que los elementos clonados sean visibles */
}
